<!DOCTYPE html>
<html>
<head>
  <title>OGC-Search V2 - ADMIN</title>
  <%= stylesheet_link_tag :admin %>
  <%= javascript_include_tag :admin %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <ul class="nav">
          <li><%= link_to "WMS Servers", admin_wms_path %></li>
          <li><%= link_to "Jobs", admin_job_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <%= yield %>
</body>
</html>
